body {
    background-color: #ccc;
}

.float-left  {
    float: left;
}

.float-right {
    float: right;
}

.clear-both 
{
    clear: both;
}

#bodywrapper 
{
    width: 750px;
    max-width: 100%;
    margin: auto;
}

#body {
    background-color: #369;
    border-radius: .75em;
    border: 1px solid #369;
    border-top-color: #69c;
    border-left-color: #69c;
    border-bottom-color: #036;
    border-right-color: #036;
    /*padding: 1em 0em 0em 0em;*/
    box-shadow: .5em .5em 1.5em #000;
    margin: 50px 0px 50px 0px;
    width: 100%;
    color: White;
    overflow: hidden;
}
    #body #bodycontent
    {
        padding: 0em 1em 1em 1em;
    }

    #body a 
    {
        color: White;
    }
    
    #body header 
    {
        padding: 1em;
    }
    
nav 
{
    display: block;
    margin: auto;
}
    
ul#menu 
{
        
}
    
ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}
    
h1, h2, h3, h4, h5, h6 
{
    font-family:Verdana;
}

header h1
{
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em #000;
}


.featured
{
    background-color: #369;
    box-shadow: inset 0px 5px 20px #003;
    clear: both;
    padding: 2em 1em 1em 1em;
    margin: 1em 0em 1em 0em;
}

header 
{
    padding-bottom: 2em;
    clear: both;
}

footer 
{
    padding: 0em 1em .5em 1em;
}