body {
    background-color: #ccc;
}

.float-left  {
    float: left;
}

.float-right {
    float: right;
}

.clear-both 
{
    clear: both;
}

#bodywrapper 
{
    width: 750px;
    max-width: 100%;
    margin: auto;
}

#body {
    background-color: #369;
    border-radius: .75em;
    box-shadow:
        .5em .5em 1.5em #000,
        inset 1px 1px 0px rgba(255,255,255,.5),
        inset -1px -1px 0px rgba(0,0,51,.75);
    margin: 50px 0px 50px 0px;
    width: 100%;
    color: White;
    overflow: hidden;
}
    #body #bodycontent
    {
        padding: 0em 1em 1em 1em;
    }

    #body a 
    {
        color: White;
    }
    
    #body a:hover
    {
        text-shadow: 2px 2px 3px #003;
    }
    
.button
{
    background-color: rgba(0,0,51, .1);
    padding: .5em;
    border-radius: 5px;
    /*border: 1px solid rgba(0,0,0,.8);*/
    box-shadow: inset -2px -3px 5px rgba(0,0,51,.5),
                inset 2px 3px 5px rgba(255,255,255,.5),
                1px 1px 2px 1px rgba(0,0,51,.5);
}

.button:hover
{
    background-color: rgba(0,0,51, .2);
    box-shadow: inset 2px 3px 5px rgba(0,0,51,.5);
}
        
    
    #body header 
    {
        padding: 1em;
    }
    
nav 
{
    display: block;
    margin: auto;
}
    
ul#menu 
{
        
}
    
ul#menu li {
    display: inline;
    list-style: none;
    padding: 5px;
}


    
h1, h2, h3, h4, h5, h6 
{
    font-family:Verdana;
}

#welcome h1
{
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em #000;
}


.featured
{
    background-color: rgba(0,0,51, .1);
    box-shadow: inset 0px 5px 20px rgba(0,0,51,1);
    clear: both;
    padding: 2em 1em 1em 1em;
    margin: 1em 0em 1em 0em;
}

header 
{
    padding-left: 1em;
    padding-bottom: 2em;
    clear: both;
}

footer 
{
    padding: 0em 1em .5em 1em;
}