@{
    //Layout = null;
    ViewBag.Title = "Test Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="Stylesheet" href="../../Content/StyleTest.css" />
</head>
<body>
    <h1>@ViewBag.Title</h1>
</body>
