@{
    ViewBag.Title = "Home Page";
}

<center><div class="btn-group"><a href="#" id="locate" class="btn btn-large btn-info">Find Restaurants Near Me</a>
<a href="#" id="findCity" class="btn btn-large btn-info">Find Restaurants by City</a></div></center>

<br />
<br />

<center><div id="PostMessage"></div></center>

<script type="text/javascript">
    var latitude;
    var longitude;

    function getPosition() {
        navigator.geolocation.getCurrentPosition(
            function (position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
                document.getElementById("PostMessage").innerHTML = "Done.";

                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "../Restaurant/Geolocator");

                var latField = document.createElement("input");
                latField.setAttribute("type", "hidden");
                latField.setAttribute("name", "latitude");
                latField.setAttribute("value", latitude);
                form.appendChild(latField);

                var lngField = document.createElement("input");
                lngField.setAttribute("type", "hidden");
                lngField.setAttribute("name", "longitude");
                lngField.setAttribute("value", longitude);
                form.appendChild(lngField);

                document.body.appendChild(form);
                form.submit();
            }
        );
    }

    document.getElementById("locate").onclick = function (e) {
        document.getElementById("PostMessage").innerHTML = "Fetching Current Coordinates...";
        getPosition();
    }

    document.getElementById("findCity").onclick = function (e) {
        document.getElementById("PostMessage").innerHTML = '<form method="post" action="../Restaurant/RestaurantList"><input type="text" name="city" /><input type="submit" value="search" /></form>';
    }
</script>
