@{
    ViewBag.Title = "Home Page";
}



<a href="../Restaurant/Geolocator"><img src="../../Images/btn-index-findrestaurant.png" 
                                        onmouseout="this.src='../../Images/btn-index-findrestaurant.png'"
                                        onmouseover="this.src='../../Images/btn-index-findrestaurant-hover.png'"
                                        onmousedown="this.src='../../Images/btn-index-findrestaurant-click.png'"
                                        onmouseup="this.src='../../Images/btn-index-findrestaurant-hover.png'" /></a>
