@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="btn-group">
        <a href="#" id="locate" class="btn btn-info btn-large">Restaurants Near Me</a>
        <a href="#" id="findCity" class="btn btn-large btn-info">Search by City</a>
        @*<a href="#" id="findName" class="btn btn-large btn-info">Search by Name</a>*@
    </div>

    <br />
    <br />

    <div id="PostMessage"></div>
</center>

<script type="text/javascript">
    var latitude;
    var longitude;

    function getPosition() {
        navigator.geolocation.getCurrentPosition(
            function (position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
                document.getElementById("PostMessage").innerHTML = "Done.";

                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "../Restaurant/Geolocator");

                var latField = document.createElement("input");
                latField.setAttribute("type", "hidden");
                latField.setAttribute("name", "latitude");
                latField.setAttribute("value", latitude);
                form.appendChild(latField);

                var lngField = document.createElement("input");
                lngField.setAttribute("type", "hidden");
                lngField.setAttribute("name", "longitude");
                lngField.setAttribute("value", longitude);
                form.appendChild(lngField);

                document.body.appendChild(form);
                form.submit();
            }
        );
    }

    document.getElementById("locate").onclick = function (e) {
        document.getElementById("PostMessage").innerHTML = "Fetching Current Coordinates...";
        getPosition();
    }

    document.getElementById("findCity").onclick = function (e) {
        var string;
        string = '<form class="form-search" method="post" action="../Restaurant/Geolocator" >';
        string += '<div class="input-append">';
        string += '<input type="text" name="city" class="search-query" placeholder="City Name" required="required"/>';
        string += '<input type="submit" value="search" class="btn btn-info"/></div><br/>';
        /*string += '<input type="checkbox" checked="checked" name="fastFood" /> Fast Food';
        string += '<input type="checkbox" checked="checked" name="mexican" /> Mexican';
        string += '<input type="checkbox" checked="checked" name="pizza" /> Pizza';
        string += '<input type="checkbox" checked="checked" name="american" /> American';
        string += '<input type="checkbox" checked="checked" name="diner" /> Diner';
        string += '<input type="checkbox" checked="checked" name="bakery" /> Bakery';*/
        string += '</form>';
        document.getElementById("PostMessage").innerHTML = string;
    }

    document.getElementById("findName").onclick = function (e) {
        document.getElementById("PostMessage").innerHTML = '<form class="form-search" method="post" ><div class="input-append"><input type="text" name="restaurant" class="search-query" placeholder="Restaurant Name"/><input type="submit" value="search" class="btn btn-info"/></div></form>';
    }
</script>
