@{
    //Layout = null;
    ViewBag.Title = "Test Area";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}


@section featured {
    <section class="featured">
        <h1>Yo yo yo. :I</h1>
        Going to make this part collapsible. Feel free to throw color scheme suggestions at me.
    </section>
}