@{
    //Layout = null;
    ViewBag.Title = "Test Area";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}


@section top {
    <div class="float-left" id="search">
                @Html.TextBox("text search")
                Where are you?
    </div>
}

@section bodycontent {
    This is the non-collapsible section.
}

@section collapsible {
    <section>
        This is the collapsible section.
    </section>
}

Test one two. This is where stuff ends up if you don't specify a section.