@{
    //Layout = null;
    ViewBag.Title = "Test Area";
    //Layout = "~/Views/Shared/_LayoutTest.cshtml";
}


@section top {
    <div class="float-left" id="search">
                @Html.TextBox("text search")
                Where are you?
    </div>
}

@section collapsible{

    <div data-collapse>
        <span class="float-right">Click Me</span>
            <div class="featured">This is where collapsible Stuff goes.</div>
    </div>
}