@{
    ViewBag.Title = "User Info";
}
<script src="@Url.Content("~/Scripts/Facebook.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

<center><h2>User Info</h2></center>

<table>
    <tr>
        <td>
            Display Name: 
        </td><td id="username">
            
        </td>
    </tr>
    <tr>
        <td>
            Email: 
        </td><td id="email">
            
        </td>
    </tr>
    <tr>
        <td>
            Member since:
        </td>
        <td>
            
        </td>
    </tr>
</table>