@{
    ViewBag.Title = "User Info";
}
<script src="@Url.Content("~/Scripts/Facebook.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

<center><h2>User Info</h2></center>

<table style=" float: left; width: 50%;">
    <tr>
        <td>
             Picture:
        </td><td id="picture" style="height: 100; width: 100;">
            
        </td>
    </tr>
    <tr>
        <td>
            Display Name: 
        </td><td id="username">
            
        </td>
    </tr>
    <tr>
        <td>
            Email: 
        </td><td id="email">
            
        </td>
    </tr>
</table>
<table style=" float: left; width: 50%;">
    <tr>
        <td>
            Comments can load here.
        </td>
    </tr>
<//table>